@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Produtos";
}

<h2>@ViewBag.Title</h2>
<br/>
<a  asp-action="NovoProduto" asp-controller="Gestao" class="btn btn-success">
    Criar novo Produto
</a>
<hr/>
